.gallery-view {
    padding:5%;
    /*height:67.5vh;*/
}

.gal-image-folder {
    position: relative;
    float: left;
    height: 40vh;
    width: 21%;
    display: block;
    background: white;
    margin:0% 2% 2%;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px grey;
}

.gal-image-folder:nth-child(4n) {
  margin-right: 0;
}

.gal-img>img {
    width: 100%;
    min-height: 32vh;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 6px 0px grey;
}

.gal-img-desc {
    font-family: 'Artifika', serif;
    font-size: 14px;
    height: 10%;
    text-align: center;
    color: teal;
    padding: 5px 2px;
}