<div class="about-us-view">
    <!--<div class="image-container">
        <div id="img-1">
            <img src="~../../assets/images/about-us.jpg">
        </div>
        <div id="img-2">
            <img src="~../../assets/images/about-us.jpg">
        </div>
        <div id="img-3">
            <img src="~../../assets/images/about-us.jpg">
        </div>
    </div>-->

    <div class="about-us">
        <div class='who'>
            <h2>Who We Are</h2>
        </div>
        <div class="horizontal-bar"></div>
        <div class="who-desc">
            <p>PRAYASH is a socio cultural organisation which was established in sep’2011. The basic objective of PRAYASH is
                to work for the development of the society and to make our society a better place to live in. Our idea is
                to enrich our people with lots of positive energy and positive attitude. We also encourage people to spread
                these positive vibes to their friends, relatives and to their next generations. We also encourage them to
                help each other in every situation and stay together to make strong bonding, so that no external evil force
                can harm us.</p>
            <p>Keeping all these ideas in view, every year we organise different social activities and cultural programs in
                different periods of year. </p>
        </div>

        <div class="what">
            <h2>What We Do</h2>
        </div>
        <div class="horizontal-bar"></div>
        <div class="activity">
            <!--<p>Our activities are:</p>-->
            <ul>
                <li>CHILDREN SUMMER WORKSHOP</li>
                <li>VOLUNTARY BLOOD DONATION CAMP</li>
                <li>WORLD ENVIRONMENT DAY</li>
                <li>SHILPI DIVAS</li>
                <li>RABINDRA JAYANTI</li>
                <li>BIHU – A FESTIVAL OF ASSAM</li>
            </ul>
        </div>

        <div class="c-s-camp">
            <h2>CHILDREN SUMMER WORKSHOP</h2>
            <div class="horizontal-bar"></div>
            <p>Now a day we heard a lot about workshop like drama workshop, dancing workshop, recitation workshop, photography
                workshop etc. These workshops help candidates a lot in developing their basic skill in particular subject
                and also give them a direction in developing their career in their interested subject accordingly. Workshops
                also play a vital rlie in personality development and help an individual in building self-confidence.</p>
            <p>But We- the PRAYASH team try to think a bit differently. We conduct a Children Summer Workshop every year in
                the month of July, Flilowing up a Cultural Program at the end of the Workshop. We basically do not concentrate
                in a single subject. We try to give our candidate a taste of every subject during this period of workshop,
                so that they can identify their own taste and choose their own subject of interest accordingly. Our subjects
                include photography, magic, drama, recitation dancing, singing, yoga, art & craft, communication skill etc.
                Our workshop also has yoga class. We also give them ideas about planting of trees and encourage them to plant
                trees in their house. We also welcome the guardians of each candidate during workshop, so that they can analyse
                the activity of their children which may help them to identify the talent of their children. In each year
                we give every candidate a chance to perform something in the stage.</p>
            <p>We have a special section for the guardians also. We invite Nutritionist and phycliogist to interact with the
                children and their guardians. These specialist persons give the parents some useful tips about child’s proper
                diet and child phycliogy, which in due course help them to keep their child healthy and to guide them in
                better way.</p>
            <p>In today’s competitive world, from the very first step of child’s education life is overburdened with lots subjects
                along with different kinds of projects and home-tasks. During this workshop We try to keep them away from
                these pressure, so that they can think enjoy their vacation freely.</p>
            <p>PRAYASH from the beginning of its existence conducted 5 Children Summer Workshop (2011-2016). This year 6th Summer
                Workshop is going on. We conduct the workshop for 20-30 days during the month of July and the duration of
                the workshop is 3 hours every day from 3pm-6pm. The Class limit is from Class III to Class VIII. Every year
                the total no of candidate crosses 100.</p>
            <p><strong>but not the least, PRAYASH do not take any fee from the candidate.</strong></p>
        </div>

        <div class="b-d-camp">
            <h2>BLOOD DONATION CAMP</h2>
            <div class="horizontal-bar"></div>
            <div>
                <p>We all know vliuntary Blood Donation is one of noble cause in the world. No country can provide sufficient
                    blood for all patients who require transfusion. Developing countries like India has a huge demand of
                    vliunteer blood donors. Many Organisations in India have come up to encourage the Blood donors and conduct
                    Vliuntary Blood Donation Camps.</p>
                <p>PRAYASH also take steps in this charity work by encouraging people to donate blood vliuntarily and organised
                    Blood Donation Camp every year in the month of December. PRAYASH with its limited work force and dedications
                    try to encourage people to donate blood vliuntarily and educate people of in this regard. Every year
                    the no of Blood Donors in our Vliuntary Blood Donation Camp crosses 50 including male and female. Every
                    year there is at least 4 to 5 new blood donors who came to our Camps to donate blood willingly. </p>
            </div>
        </div>

        <div class="exec-com">
            <h2>Executive Committee</h2>
            <div class="horizontal-bar" style="margin-bottom: 2%"></div>
            <div class="member-batch" *ngFor="let member of execMembers">
                <div class="initials">{{member.initials}}</div>
                <div class="details">
                    <p><strong>{{member.name}}</strong></p>
                    <p>{{member.designation}}</p>
                </div>
            </div>
        </div>
    </div>
</div>