<div>
    <div class="cover">
        <img src="../../assets/images/home_cover.jpeg">
        <div class="read-underlay"></div>
        <div class="read">
            <h3> Prayash </h3>
            <p> PRAYASH is a socio cultural organisation which was established in sep’2011.</p>
            <!-- The basic objective of PRAYASH is to work for the development of the society and to make our society a better place to live in. Our idea is to enrich our people with lots of positive energy and positive attitude. We also encourage people to spread these positive vibes to their friends, relatives and to their next generations. We also encourage them to help each other in every situation and stay together to make strong bonding, so that no external evil force can harm us.-->
        </div>
    </div>
    <div class="intro">
        <div class="calender">
            <h3> Event Calender</h3>
            <br>
            <div class="event">
                <div class="event-date">
                    <h1 class="date">30</h1>
                    <p class="month-year">Oct, 2017</p>
                </div>
                <div class="event-description"></div>
            </div>

            <div class="event alt">
                <div class="event-date">
                    <h1 class="date">Jan</h1>
                    <p class="month-year">2018</p>
                </div>
                <div class="event-description"></div>
            </div>

            <div class="event alt">
                <div class="event-date">
                    <h1 class="date">FEB</h1>
                    <p class="month-year">2018</p>
                </div>
                <div class="event-description"></div>
            </div>
        </div>
        <div class="brief left-vertical-bar">
            <div class="brief-question">
                <h3>You Said you wanted Unity</h3>
                <h3>Here We Are</h3>
            </div>
            <div class="brief-image-holder">
                <div id="br-img1"></div>
                <div id="br-img2"></div>
                <div id="br-img3"></div>
            </div>
            <div class="brief-ans">
                <span>Prayash Believes in Togetherness</span>
            </div>
        </div>
    </div>

    <div class="horizontal-bar"></div>

    <div class="mission-vision-history">
        <div class="mission">
            <h1>Our Mission</h1>
            <br>
            <p>
                Enrich People with Positive energy & 
                positive attitude & 
                encourage them to spread love & 
                help others.
            </p>
        </div>
        
        <div class="vission left-vertical-bar">
            <h1>Our Vission</h1>
            <br>
            <p>
                Work towards the development of the society & 
                make it a better place to live in.
            </p>
        </div>

        <div class="history left-vertical-bar">
            <h1>Our History</h1>
            <br>
            <p>
                Prayash, a socio cultural organisation was established in 2011.
            </p>
        </div>
    </div>

    <div class="horizontal-bar"></div>

    <div class="testimonials">
        <h1>Our Testimonials</h1>
        <div class="testimonial-images" (click)="viewTestimonials()">
            <div id="test-img1"></div>
            <div id="test-img2"></div>
            <div id="test-img3"></div>
            <div id="test-img4"></div>
            <span class="view-more">
                more...
            </span>
        </div>
    </div>
    <div class="horizontal-bar"></div>

    <div class="gallery">
        <h1>Gallery</h1>
        <div class="gallery-images" (click)="viewTestimonials()">
            <div id="gallery-img1"></div>
            <div id="gallery-img2"></div>
            <div id="gallery-img3"></div>
            <div id="gallery-img4"></div>
            <span class="view-more">
                more...
            </span>
        </div>
    </div>
</div>
<prayash-footer></prayash-footer>