<div>
    <div class="cover">
        <img src="~../../assets/images/home_cover.jpeg">
        <div class="read">
            <h3> Prayash </h3>
            <p>A socio cultural organisation</p>
            <!-- The basic objective of PRAYASH is to work for the development of the society and to make our society a better place to live in. Our idea is to enrich our people with lots of positive energy and positive attitude. We also encourage people to spread these positive vibes to their friends, relatives and to their next generations. We also encourage them to help each other in every situation and stay together to make strong bonding, so that no external evil force can harm us.-->
        </div>
    </div>
    <div class="intro">
        <div class="calender">
            <h3> Event Calender</h3>
            <br>
            <div class="event">
                <div class="event-date">
                    <h1 class="date">Jul</h1>
                    <p class="month-year">2017</p>
                </div>
                <div class="event-description">
                    <p> Children Summer Workshop </p>
                </div>
            </div>

            <div class="event alt">
                <div class="event-date">
                    <h1 class="date">Dec</h1>
                    <p class="month-year">2017</p>
                </div>
                <div class="event-description">
                    <p>Blood Donation Camp 2017 - 3rd sunday of December</p>
                </div>
            </div>

            <div class="event alt">
                <div class="event-date">
                    <h1 class="date">Jan</h1>
                    <p class="month-year">2018</p>
                </div>
                <div class="event-description"> 
                    <p>Quiz Competition</p>
                </div>
            </div>
        </div>
        <div class="brief left-vertical-bar">
            <div class="brief-question">
                <h3>You Said you wanted Unity</h3>
                <h3>Here We Are</h3>
            </div>
            <div class="brief-image-holder">
                <div class="img-holder" id="br-img1">
                    <div class="brief-overlay">
                        <i>BLOOD DONATION</i>
                    </div>
                </div>
                <div class="img-holder" id="br-img2">
                    <div class="brief-overlay">
                        <i>CHILDREN SUMMER WORKSHOP</i>
                    </div>
                </div>
                <div class="img-holder" id="br-img3">
                    <div class="brief-overlay">
                        <i>HEALTH CHECK UP</i>
                    </div>
                </div>                
            </div>
            <div class="brief-ans">
                <span>Prayash Believes in Togetherness</span>
            </div>
        </div>
    </div>

    <div class="horizontal-bar"></div>

    <div class="mission-vision-history">
        <div class="mission">
            <h1>Our Mission</h1>
            <br>
            <p>
                To bring about betterment in the society by infusing an air of positivity and togetherness.
                The seed of welfare and development oughts to be sown in the air of positivity and nurtured
                in an ambience of confidence and belongingness. This is the perfect recipe of the best harvest.
            </p>
        </div>
        
        <div class="vission">
            <h1>Our Vision</h1>
            <br>
            <p>
                To upliftment of cultural moral and skill development.
                To instill a sense of confidence whereby an individual or group can standup to  bring the best impact possible to the society or an individual.
            </p>
        </div>

        <div class="history">
            <h1>Our History</h1>
            <br>
            <p>
                Prayash started its journey by organising a Jalsha at a residence of Dr. Ananda Bormudoi (Professor - Dept. of Assamese, Dibrugarh University) and Dr.PurobiBormusoi (A Sahitya Academy Awardee) on September 2011. Since that day, Prayash holds the credibility of hosting 5 summer camps from 2012 – 2016, three blood donation camps, Free Medical Health Check-ups, Shilpi Divas, Rabindra Sandhya and Environment day.
            </p>
        </div>
    </div>

    <div class="horizontal-bar"></div>

    <div class="testimonials">
        <h1>Our Testimonials</h1>
        <div class="testimonial-images" (click)="viewTestimonials()">
            <div id="test-img1"></div>
            <div id="test-img2"></div>
            <div id="test-img3"></div>
            <div id="test-img4"></div>
            <span class="view-more">
                more...
            </span>
        </div>
    </div>
    <div class="horizontal-bar"></div>

    <div class="gallery">
        <h1>Gallery</h1>
        <div class="gallery-images" (click)="viewGallery()">
            <div id="gallery-img1"></div>
            <div id="gallery-img2"></div>
            <div id="gallery-img3"></div>
            <div id="gallery-img4"></div>
            <span class="view-more">
                more...
            </span>
        </div>
    </div>
</div>
<prayash-footer></prayash-footer>