<div class="header">
    <div class="contact-header">
        <div class="contact-social">
            <i class="fa fa-facebook" (click)="goToFaceBook()"aria-hidden="true"></i>
            <!--&nbsp;|&nbsp;
            <i class="fa fa-twitter" aria-hidden="true"></i>
            &nbsp;|&nbsp;
            <i class="fa fa-instagram" aria-hidden="true"></i>-->
        </div>
        <div class="contact-personal">
            <i class="fa fa-envelope" aria-hidden="true"></i> prayash.2011@rediffmail.com
            &nbsp;|&nbsp;
            <i class="fa fa-phone" aria-hidden="true"></i> 9706208825
        </div>
    </div>
</div>
<div class="header-bar">
    <div>
        <div class="title">
            <a href=''><h1>Prayash</h1></a>
        </div>
        <div class="menu">
            <ul>
                <li (click)="navTabClicked('home')"><a [ngClass]="{'active':tabSelected==='home'}">Home</a></li>
                <li (click)="navTabClicked('aboutUs')"><a [ngClass]="{'active':tabSelected==='aboutUs'}">About Us</a></li>
                <li (click)="navTabClicked('testimonials')"><a [ngClass]="{'active':tabSelected==='testimonials'}">Testimonials</a></li>
                <li (click)="navTabClicked('gallery')"><a  [ngClass]="{'active':tabSelected==='gallery'}">Gallery</a></li>
                <li (click)="navTabClicked('contact')"><a [ngClass]="{'active':tabSelected==='contact'}">Contact</a></li>
            </ul>
        </div>
    </div>
</div>