.enlarged-img-container {
    position: fixed;
    z-index: 99999;
    color: white;
    display: table;
    height: 100vh;
    width: 100%;
    background: rgba(55,55,55,0.9);
    top: 0px;
}

.close {
    float:right;
    font-size: 18px;
    margin-top: 2%;
    margin-right: 10%;
    color:rgb(193, 188, 188);
    cursor: pointer;
}

.close:hover {
    color:white;
}
.img-holder {
    position:relative;
    margin: 6vh auto;
    width: 60vw;
    height: 75vh;
}

.img-holder>img {
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    border: 10px solid;
    cursor: pointer;
    position: absolute;
    top:0px;
}

.next {
    position: absolute;
    top: 30vh;
    right: 10px;
    display: block;
    background: rgba(255,255,255,0.8);
    color: #437179;
    padding: 2vh;
    font-size: 4vh;
    opacity: 0;
    transition: all 0.5s ease-in;
    cursor: pointer;
    z-index: 999;
}

.previous {
    position: absolute;
    top: 30vh;
    left: 10px;
    display: block;
    background: rgba(255,255,255,0.8);
    color: #437179;
    padding: 2vh;
    font-size: 4vh;
    opacity: 0;
    transition: all 0.5s ease-in;
    cursor: pointer;
    z-index: 999;
}

.toggle-slide-show {
    position: absolute;
    width: 100%;
    text-align: center;
    top:30vh;
    color: rgba(255,255,255,0.8);
    font-size: 7vh;
    opacity: 0;
    transition: all 0.5s ease-in;
    cursor: pointer;
}


.img-desc {
    position: absolute;
    top:74vh;
    width:100%;
}

.img-desc>p {
    text-align: center;
}
.wrap-indexer {
    position: absolute;
    top: 65vh;
    width: 100%;
    text-align: center;
    /*opacity: 0;*/
    transition: all 0.5s ease-in;
}

.img-holder:hover .next,.img-holder:hover .previous, .img-holder:hover .wrap-indexer, .img-holder:hover .toggle-slide-show{
    opacity: 1;
}
.indexer {
    display: inline-block;
    margin:0.5vh 0.5vw;
    width:7px;
    height:7px;
    border:1px solid;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in 0.1s;
}

.active {
    background: white;
}

button {
    background: transparent;
    color: white;
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 500ms ease-in;
}

button:hover {
    background: white;
    color:rgb(55,55,55);
}

.button-grid {
    margin: 0px 40vw;
    display: grid;
}

